*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(7, 0, 17);
}
.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.quiz{
    padding: 20px 0;

}
.app h1{
  border-bottom: 1px solid #333;
  font-weight: 600;
  padding-bottom: 30px;

}

#question{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

#answer-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn{
    padding: 12px 15px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ccc;
    background: #f4f4f4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover:not([disabled]){
    background: #dcdcff;
    border-color: #888;
}
.btn:disabled{
    cursor:no-drop ;
}

.btn:active{
    transform: scale(0.98);
}
#next-btn{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background: #4998f3;
    color:white;
    border: none;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    display: none;   /* show only when needed via JS */
    transition: background 0.3s ease, transform 0.2s ease;
}

#next-btn:hover{
    background: #4245f0;
}

#next-btn:active{
    transform: scale(0.97);
}

.correct{
    background: rgb(108, 238, 108);
}
.incorrect{
    background: rgb(224, 66, 66);
}
